@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cherry+Bomb+One&family=Krona+One&family=Luckiest+Guy&family=Montserrat:wght@200&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor-container-botoes-icon: #7a6a53;
  --cor-borda: #5e5140;
  --cor-conteudo-desenho-icon: #e0d3b8;
  --cor-titulo-nome-botoes-sombra-clara: #ffffff;
  --sombras-escura: #000000;
  --cor-paragrafo-hover: #363027;
  /*--cor-fundo: #d6c1a6 0%, #6a5948 60%, #1e1e1e 100%;*/
  --cor-fundo: #d6c1a6;
}

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto-claro);
    transition: background-color 0.3s, color 0.3s;
  }
  
  
  body.tema-escuro {
    background-color: var(--cor-fundo-escuro); 
    color: var(--cor-texto-escuro);
  }

html, body {
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at center, var(--cor-fundo));
}

.container__conteudo {
  background-color: var(--cor-container-botoes-icon);
  width: 300px;
  height: 550px;
  border-radius: 16px;
  border: 2px solid var(--cor-borda);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.container__conteudo__sub {
  background-color: var(--cor-conteudo-desenho-icon);
  width: 270px;
  height: 520px;
  border-radius: 25px;
  margin: 15px;
}

.container__conteudo__avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
  padding: 15px;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  color: var(--cor-titulo-nome-botoes-sombra-clara);
  font-weight: bold;
  font-size: 16px;
  -webkit-text-stroke: 0.7px var(--sombras-escura);
  text-shadow: 0 0 1px var(--cor-titulo-nome-botoes-sombra-clara);
  margin: 80px;
  position: relative;
  top: -80px;
}

p {
  font-family: "Poetsen One", sans-serif;
  color: var(--cor-paragrafo-hover);
  font-size: 12px;
  text-shadow: 0 0 0px var(--cor-titulo-nome-botoes-sombra-clara);
  margin: 20px;
  position: relative;
  top: -140px;
}

.a {
  margin-top: -35px;
  margin-left: 42px;
  display: flex;
  background-color: var(--cor-container-botoes-icon);
  border-radius: 30px;
  padding: 5px 30px;
  width: 130px;
  height: 25px;
  justify-content: center;
  align-items: center; 
}

.a:hover {
  background-color: var(--cor-paragrafo-hover);
}

a {
  font-family: "Poetsen One", sans-serif;
  justify-content: center;
  align-items: center; 
  font-size: 16px;
  color: var(--cor-titulo-nome-botoes-sombra-clara);
  text-decoration: none;
  -webkit-text-stroke: 1px var(--sombras-escura);
  text-shadow: 0 0 0px var(--cor-titulo-nome-botoes-sombra-clara);
}

.container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
}

.container__footer__imagem {
  width: 110px;
  align-items: flex-end;
  margin: 20%;
}

.container__footer__paragrafo {
  font-family: "Cherry Bomb One", cursive;
  color: var(--cor-titulo-nome-botoes-sombra-clara);
  font-size: 25px;
  -webkit-text-stroke: 1px var(--sombras-escura);
  text-shadow: 0 0 0px var(--cor-titulo-nome-botoes-sombra-clara);
  text-align: center;
  margin: 60px;
}

.container__links {
  margin-top: -310px;
  padding: 35px;
}

.container_in {
  margin-bottom: 10px;
}

.fiv-icon {
  background-color: var(--cor-container-botoes-icon);
  border-radius: 100%;
  padding: 7px;
  display: inline-table;
}

.fa-brands {
  color: var(--cor-conteudo-desenho-icon);
}

#toggle-theme{
    width: 70px;
    height: 60px;
    border-radius: 5px;
    position: fixed;
    text-align: center;
    font-size: 60px;
    color:white;
    top: 20px;
    left: 10px;
    /*
    color: rgb(9, 72, 85);
    margin-left: 0%;
    top: 90%;
    */
}
